<%- include ("../partials/header")%>

	<div class="container">
		<header class="jumbotron">
			<h1>Add a new shopping list</h1>
		</header>
		
 		<form action="/farms" method="POST">
        	<div>
            	<label for="name">Add List Name</label>
            	<input type="text" name="name" id="name" placeholder="Eg. Week 1">
				<button type="submit" name="send" id="send" value="Send" class="btn btn-md btn-primary ">Submit!</button>
        	</div>
      		
    	</form>
		
	</div>



   
<%- include ("../partials/footer")%>








