.thumbnail img{
	width: 100%;
	display: inline;
}

.thumbnail {
	padding: 3px;
	
}

.thumbnail .caption-full{
	padding: 9px;
}
.delete-form {
	display: inline;
}
#output {

display:block;

}



	






